<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 06</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		
  </head>
  <body>
		
		<div class="container d-flex align-items-stretch">
			<nav id="sidebar" class="img" >
				<div class="p-4">
		  		
	        <ul class="list-unstyled components mb-5">
            <br>
			<div >
				
				<img class="dd"async src="https://scontent.ftun7-1.fna.fbcdn.net/v/t1.15752-9/316377491_1291706554703426_4727438334714971365_n.png?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=w7cC5pb57vUAX_CQyfA&_nc_ht=scontent.ftun7-1.fna&oh=03_AdQZC_4_zSXKl6e3X4VCefxGEYr4NEfhbJdDPHbzdAAo2Q&oe=63A35B13" width="400" height="250" >
			
			</div>
	          <li class="active">
	            <a class="aa" href="#"><span class="fa fa-home mr-3" routerLink="./home"></span> Home</a>
	          </li>
            <br>
	          <li>
	              <a class="aa" href="../ajoutProduit"><span class="fa fa-user mr-3" ></span> Ajouter un produit</a>
	          </li>
            <br>
	          <li>
              <a class="aa" href="../Produits"><span class="fa fa-plane mr-3"></span> Consulter tous les produits</a>
	          </li>
            <br>
	          <li>
              <a class="aa" href="../mesProduits"><span class="fa fa-sticky-note mr-3"></span> Consulter mes propres produits</a>
	          </li>
            <br>
			<li>
				<a class="aa" href="../monPanier"><span class="fa fa-shopping-basket mr-3"></span> Mon panier</a>
				</li>
			  <br>
			  <br>
			  <br>
			  
			  <br>
			  
	         
	        </ul>
			<div>
				<button class="btn btn-primary" (click)="logout()">LOGOUT</button>
				</div>

	        </div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			
			</nav>
			</div>
			

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
	<script> window.history.forward();</script>
  </body>
</html>