<h2 class="pr">                    Ci joint vous trouverez vos produits postulés</h2>
<table  class="table table-striped">
    <thead>
      <tr>
        <th scope="col">NUMERO</th>
        <th scope="col">NOM</th>
        <th scope="col">CATEGORIE</th>
        <th scope="col">FOURNISSEUR</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">PRIXHT</th>
        <th scope="col">TVA</th>
        <th scope="col">PRIXTTC</th>
        <th scope="col">ETAT</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
  
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of mesVentes ">
        <td>{{data.NUMERO}}</td>
        <td>{{data.NOM}}</td>
        <td>{{data.CATEGORIE}}</td>
        <td>{{data.FORUNISSEUR}}</td>
        <td>{{data.DESCRIPTION}}</td>
        <td>{{data.PRIXHT}}</td>
        <td>{{data.TVA}}</td>
        <td>{{data.PRIXTTC}}</td>
        <td>{{data.ETAT}}</td>
        <td><button class="btn btn-primary" (click)="openForm()">Modifier</button></td>
        <div class="form-popup" id="updateForm">
          <form class="form-container">
           
            <section class="ftco-section">
              <div class="container">
                <div class="row justify-content-center">
          
                
                <div class="row justify-content-center">
                  <div class="col-md-12">
                    <div class="wrapper">
                      <div class="row no-gutters mb-5">
                        <div class="col-md-7">
                          <div class="contact-wrap w-100 p-md-5 p-4">
                            <h3 class="mb-4">Modifier ce produit </h3>
                            <div id="form-message-warning" class="mb-4"></div>
          
                            <form [formGroup]="updateForm" id="contactForm" name="contactForm" class="contactForm">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="label" for="NOM">Nom du produit</label>
                                    <input formControlName="NOM" type="text" class="form-control" name="name" id="name" placeholder="NOM ">
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="label" for="NUMERO">Numéro dU produit</label>
                                    <input formControlName="NUMERO" type="number" class="form-control" name="NUMERO" id="NUMERO" placeholder="NUMERO">
                                  </div>
                                </div>
          
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="label" for="CATEGORIE">Catégorie du produit</label>
                                    <input formControlName="CATEGORIE" type="text" class="form-control" name="catégorie" id="catégorie" placeholder="CATEGORIE">
                                  </div>
                                </div>
          
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="label" for="FOURNISSEUR">Fournisseur du produit</label>
                                    <input formControlName="FORUNISSEUR" type="text" class="form-control" name="email" id="email" placeholder="FOURNISSEUR">
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="label" for="DESCRIPTION">Description du produit </label>
                                    <input formControlName="DESCRIPTION" type="text" class="form-control" name="DESCRIPTION" id="DESCRIPTION" placeholder="DESCRIPTION">
                                  </div>
                                </div>
          
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="label" for="PRIXHT">Prix Hors Taxe</label>
                                    <input formControlName="PRIXHT" type="number" class="form-control" name="PRIXHT" id="PRIXHT" placeholder="PRIXHT">
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="label" for="TVA">TVA </label>
                                    <input formControlName="TVA" type="number" class="form-control" name="TVA" id="TVA" placeholder="TVA">
                                  </div>
                                </div>
          
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="label" for="PRIXTTC">Prix TTC </label>
                                    <input formControlName="PRIXTTC" type="number" class="form-control" name="PRIXTTC" id="PRIXTTC" placeholder="PRIX TTC">
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label class="label" for="ETAT">Etat </label>
                                    <input formControlName="ETAT" type="text" class="form-control" name="ETAT" id="ETAT" placeholder=" ETAT">
                                  </div>
                                  
                                </div>
                               
                                  
                                  <br>
                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <label class="label" for="ETAT">Votre Email</label>
                                      <input formControlName="EMAIL" type="text" class="form-control" name="EMAIL" id="EMAIL" placeholder=" VOTRE EMAIL">
                                    </div>
                                    <br>
                                  </div>
                                
          
                                
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <button type="submit"  class="btn btn-primary btn-block"  style="background-color: #1A4B93 ;  border: none" (click)="onSubmit(data.NUMERO)" >Modifier le produit </button>
                                    <br>
                                    <div class="g">
                                    <button class="btn btn-primary "  (click)="closeForm()">Close</button>
                                  </div>
                                    <div class="submitting"></div>
                                  </div>
                                </div>
          
                                
          
          
                              </div>
                            </form>
                          
                       
                        <div class="col-md-5 d-flex align-items-stretch">
                          <div id="map">
                          </div>
                        </div>
                       </div>
                       </div>
                       </div>
                       </div>
                       </div>
                      
                    
                  </div>
                </div>
              </div>
            </section>
            
            
            </form>
            
      </div>
      
        <td>
         
            <button class="btn btn-primary" type="button" (click)="supprimer(data)">Supprimer</button>
            </td>
      </tr>
    </tbody>
  </table>
  