.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position:absolute;
    
    bottom: 50px;
    
    right: 550px;
    border: 3px solid #f1f1f1;
    
    width:700px;
    transform:translate(45%,25%);
  }
  
  /* Add styles to the form container */
  .form-container {
    top:80%;
    max-width: 700px;
   
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 500px;
    padding: 2px;
    margin: auto;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=number]:focus, :focus {
    background-color: #ddd;
    outline: none;
  }
  .form-container input[type=number] {
    width: 500px;
    padding: 2px;
    margin: auto;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;}
.pr{
    text-align: center;
    color:rgba(43, 0, 255, 0.388);
    margin-left:20px
}
